--- 
layout: page 
slide_id: 2 
---



    <div class="row mt-xs-0 mt-sm-0 mt-md-1 mt-lg-2 mt-xl-3 mb-xs-2 mb-sm-2">
        <div class="col-sm-12 col-xs-12 col-md-6 col-lg-6 col-xl-6  text-justify conference-text">
            <p class="lead">Call For Papers</p>
            <p> We solicit high-quality position papers and research papers that address opportunities and challenges 
                in the areas of hardware security, intelligent system security, application security and network security. 
                We welcome contributions to all relevant research on attacks on IUAS, hardware protections, secure 
                software modelling and verification, security and safety analysis, network security and so on.</p>

                <p>The topics of interest include, but are by no means limited
                to:</p>
                
                <ul>
                <li>Attacks on IUAS including spoofing, eavesdropping, side-channel attack and so on</li>
                <li>Adversarial machine learning on IUAS</li>
                <li>Hardware’s vulnerabilities detection for IUAS</li>
                <li>Security protection for IUAS based on TPM (Trust Platform Model)</li>
                <li>Modelling, simulation and tools for secure and safe design of IUAS</li>
                <li>Software’s vulnerabilities detection for IUAS</li>
                <li>Automatic security and safety verification for IUAS software</li>
                <li>Efficient authentication and key management between IUASs</li>
                <li>End-to-End secure communication between IUASs</li>
                </ul>

            <p>Papers describing timely research contributions in SecIUAS's areas of interest are solicited. Papers reporting
                on initial results as well as papers discussing mature research projects or case studies of deployed systems
                are sought out. Submissions describing big ideas that may have significant impact and could lead to interesting
                discussions at the workshop are encouraged. </p>

            {% include contact-us.html %}

        </div>
        <div class="col-sm-12 col-xs-12 col-md-6 col-lg-6 col-xl-6 conference-text text-justify">

            <div class="text-info">Submission Instructions:</div>
            
            <p><strong>Double-blind review:</strong> Submitted papers must be neither previously published nor under review by another workshop, conference or journal. 
                Please ensure that the paper submissions for your workshop follow a double-blind review process. 
                This means that reviewers should not know the identities of the authors and vice versa.</p>
            
            <p><strong>Paper Format:</strong> Papers should use the <strong class="text-danger">standard ACM Template</strong>, available at
                <a href="http://www.acm.org/sigs/publications/proceedings-templates">
                    <i class="fa fa-external-link fa-fw" aria-hidden="true"></i> ACM Article Template
                </a> (when using the overleaf ACM template choose the sample-sigconf.tex file).
                Only electronic submissions in PDF will be accepted. Submitted papers must be written in English, should be within the range of 4-8 pages, 
                including figures and references.. 
                Papers exceeding this limit will not be accepted.</p>

            <p><strong>Submission system:</strong> We will be using the EasyChair submission system for managing paper submissions and reviews. 
                We kindly request you to familiarize yourself with this platform if you haven't already. 
                To submit your paper, please follow below link to the submission site:<p>
                <p class="text-center">
                    <a href=" ">
                    <i class="fa fa-external-link fa-fw" aria-hidden="true"></i>
                    <strong>    Paper Submission Site </strong>
                    </a>
                </p>
            <p> Note that at least one of the authors of each paper accepted for presentation in SecIUAS 2023 must be registered. 
                All papers presented at the workshop will be included in the ACM Digital Library. </p>

            {% include card-important-dates.html %}
        </div>
    </div>
