--- 
layout: page 
slide_id: 1 
---



    <div class="row mt-xs-0 mt-sm-0 mt-md-1 mt-lg-2 mt-xl-3 mb-xs-2 mb-sm-2">
        <div class="col-sm-12 col-xs-12 col-md-6 col-lg-6 col-xl-6  text-justify conference-text">
            <p class="lead">Call For Papers</p>
            <p> We solicit high-quality position papers and research papers that address opportunities and challenges 
                in the areas of hardware security, intelligent system security, application security and network security. 
                We welcome contributions to all relevant research on attacks on IUAS, hardware protections, secure 
                software modelling and verification, security and safety analysis, network security and so on.</p>

                <p>The topics of interest include, but are by no means limited
                to:</p>
                
                <ul>
                <li>Attacks on IUAS including spoofing, eavesdropping, side-channel attack and so on</li>
                <li>Adversarial machine learning on IUAS</li>
                <li>Hardware’s vulnerabilities detection for IUAS</li>
                <li>Security protection for IUAS based on TPM (Trust Platform Model)</li>
                <li>Modelling, simulation and tools for secure and safe design of IUAS</li>
                <li>Software’s vulnerabilities detection for IUAS</li>
                <li>Automatic security and safety verification for IUAS software</li>
                <li>Efficient authentication and key management between IUASs</li>
                <li>End-to-End secure communication between IUASs</li>
                </ul>

            <p>Papers describing timely research contributions in SecIUAS's areas of interest are solicited. Papers reporting
                on initial results as well as papers discussing mature research projects or case studies of deployed systems
                are sought out. Submissions describing big ideas that may have significant impact and could lead to interesting
                discussions at the workshop are encouraged. </p>

        </div>
        <div class="col-sm-12 col-xs-12 col-md-6 col-lg-6 col-xl-6 conference-text text-justify">

            <p class="lead">Submission Instructions</p>
                        
            <p>Submitted papers must be written in English, and neither previously published nor under review by another workshop, conference or journal. 
                Papers should be within the range of 4-8 pages, including figures and references.
                Papers exceeding this limit will not be accepted.
                All submissions must use the new 
                <a href="https://www.acm.org/publications/proceedings-template">
                    <i class="fa fa-external-link fa-fw" aria-hidden="true"></i>ACM article template</a> 
                (when using the overleaf ACM template choose the <strong>sample-sigconf.tex</strong> file). 
                This format will also be used for the camera-ready version of accepted papers.
                </p>

            <p>Only electronic submissions in Adobe Portable Document Format (PDF) will be accepted. 
                Papers will be peer-reviewed by the program committee following a <strong>double-blind review</strong> process, 
                therefore, the submissions should be anonymised. 
                To submit your paper, please follow below link to the submission site:<p>
                <p class="text-center">
                    <a href=" ">
                    <i class="fa fa-external-link fa-fw" aria-hidden="true"></i>
                    <strong> Paper Submission Site </strong>
                    </a>
                </p>
                </p>
            
            <p>Note that at least one of the authors of each paper accepted for presentation in SecIUAS 2023 must be registered. 
                All papers presented at the workshop will be included in the ACM Digital Library. 
                </p>

            {% include card-important-dates.html %}
        </div>
    </div>

{% include contact-us.html %}
