---
layout: page
slide_id: 1
---

<div class="row">

    <div class="col text-justify conference-text">

        {% for day in site.data.schedule %}
        <div>
            <h5 class="schedule-table-heading">{{ day.dateReadable }} - Day {{ forloop.index }}</h5>
            <table class="table table-bordered table-striped table-hover table-responsive table-sm">
            <thead>
                    <tr style="background:#BBBBBB; text-align:center;">
                        <th>Time</th>
                        <th>Title/Presenter</th>
                    </tr>
            </thead>
            {% for timeslot in day.timeslots %}
                <tbody>
                    <tr>
                        {% if timeslot.type == "service" %}
                            <td style="background:#FFFACD;" class="text-center">
                                <dev>{{timeslot.startTime}}-{{timeslot.endTime}}</dev>
                            </td>
                            <td style="background:#FFFACD;" class="text-center text-muted">
                                <b>{{timeslot.title}}</b>
                            </td>
                        {% else %}
                            <td class="text-center">
                                <dev>{{timeslot.startTime}}-{{timeslot.endTime}}</dev>
                            </td>
                            <!-- <td class="bg-primary text-center"> -->
                            <td>
                                <b>{{timeslot.title}}</b><br/>
                                {% if timeslot.speaker %}
                                    by {{timeslot.speaker}}
                                {% endif %}
                                {% if timeslot.chair %}
                                    Session chair:{{timeslot.chair}}
                                {% endif %}
                            </td>
                        {% endif %}
                    </tr>
                    {% if timeslot.events %}
                        {% for event in timeslot.events %}
                            <tr>
                                <td width="20%">
                                </td>
                                <td>
                                    <p><b>{{event.title}}</b></p>
                                    <p><i>{{event.speakers}}</i></p>
                                </td>
                            </tr>
                        {% endfor %}
                    {% endif %}
                </tbody>
            {% endfor %}
            </table>
        </div>
        {% endfor %} 

        <div>
            {% include contact-us.html %}
        </div>
    </div>

</div>
